
<div class="row">
  
  <div class="col-sm-12 content">
      <div class="row mt-5">
      <div class="col-sm-6">
         <%= pie_chart @auctions_by_user, title:"subastas por estados"%>
      </div>
      <div class="col-sm-6">
      <%= column_chart @money_average, title:"Dinero en subastas Ganadas" %>
      
      </div>
      </div>
    <div class="row">
    
      <div class="col-sm-12 ">
         <%= render partial: 'users' %>
      </div>
    
    </div>
  </div>
</div>