
<div class="row">
  
  <div class="col-sm-12 content">
      
    <div class="row">
    
      <div class="col-sm-12 ">
         <%= render partial: 'products' %>
      </div>
    
    </div>
  </div>
</div>