<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info ml-auto d-flex">
      <%if signed_in?%>
        <span class="top-bar-text mr-5">Bienvenido <strong><%= current_user.name %></strong>.</span>
      <%end%>
        
      <div class="social-links ">
        <a href="#" class="twitter"><i class="lni lni-twitter-original"></i></a>
        <a href="#" class="facebook"><i class="lni lni-facebook-original"></i></a>
        <a href="#" class="instagram"><i class="lni lni-instagram-original"></i></a>
        <a href="#" class="skype"><i class="lni lni-skype"></i></a>
        <a href="#" class="linkedin"><i class="lni lni-linkedin-original"></i></a>
      </div>
      </div>
    </div>
  </div>